asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
Django==3.2.9
django-social-auth==0.7.28
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
oauth2==1.9.0.post1
pyparsing==3.0.4
python-openid==2.2.5
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
Unipath==1.1
urllib3==1.26.7
