aiohttp==3.8.0
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.0
asynctest==0.13.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
curlify==2.2.1
Django==3.2.9
django-social-auth==0.7.28
facebook-business==12.0.1
frozenlist==1.2.0
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
multidict==5.2.0
oauth2==1.9.0.post1
pycountry==20.7.3
pyparsing==3.0.4
python-openid==2.2.5
pytz==2021.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
Unipath==1.1
urllib3==1.26.7
whitenoise==5.3.0
yarl==1.7.2
